@inject ISpeakerService SpeakerService
<ContentPage Title="Sprecher">
    <StyleSheet Resource="styles.css" Assembly="GetType().Assembly"></StyleSheet>
    <ScrollView>
        <StackLayout>
            @foreach (var speaker in speakers)
            {
                <StackLayout class="list-row">
                    <Label Text="@speaker.Name" class="headline"></Label>
                    <Label Text="@speaker.Company" class="subline"></Label>
                </StackLayout>
            }
        </StackLayout>
    </ScrollView>
</ContentPage>

@code {
    IList<Speaker> speakers;

    protected override async Task OnInitializedAsync()
    {
        speakers = await SpeakerService.GetSpeakersAsync();
    }

}
